<!-- payment and shipment -->
<div id="payment-and-shipment" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Оплата и доставка</h3>
    </div>
    <div class="modal-body">
        <p>Инфа про оплату и доставку</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>
<div id="ot-badge" class="other-services-badge">
    <a href="#other-services">Наши услуги</a>
</div>
<div class="head-divide"></div>
<!-- services -->
<table id="services" class="services table table-hover">
    <tr>
        <td class="first">
            <span class="icon-stack star">
                <i class="icon-star icon-stack-base"></i>
                <i class="icon-exclamation"></i>
            </span>
            <div class="pull-right img-circle red-label">
                <small>от</small><br>
                <big>2</big><br>
                <small>руб.</small>
            </div>
        </td>
        <td colspan="2">
            <h3><span>Печать и расклейка объявлений</span></h3>
            <p>Цена включает: разработку макета, печать, расклейку, <strong>фотоотчет</strong> и двухнедельную гарантию</p>
            <div id="service1" class="service-more collapse clearfix">
                <p>
                    Изготовим: объявления, афиши, листовки, плакаты, рекламу <br>
                    Разместим: по городу и району <br>
                    Форматы: А5 (15х21 см), А4 (21х30 см), А3 (30х40 см) <br>
                    Бумага: "офисная" белая или цветная (цвета любые) <br>
                    Печать: в три цвета влагоусточивой краской  <br>
                    Дизайн-макет: бесплатно (высылаем на утверждение) <br>
                </p>
                <table class="table table-bordered table-striped">
                    <caption>Таблица цен</caption>
                    <thead>
                        <tr>
                            <th>Парам. 1</th>
                            <th>Парам. 2</th>
                            <th>Парам. 3</th>
                            <th>Парам. 4</th>
                        </tr>     
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>              <td>4 р.</td>
                            </tr>
                    </tbody>
                </table>
                <p class="psh-trigger">
                    <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                </p>
            </div>
        </td>
        <td class="last">
            <a href="/order#/service/0" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
            <a class="btn opener" data-toggle="collapse" href="#service1">Подробнее <span class="caret"></span></a>
        </td>
    </tr>
    <tr>
        <td class="first">
            <span class="icon-stack star">
                <i class="icon-star icon-stack-base"></i>
                <i class="icon-exclamation"></i>
            </span>
            <div class="pull-right img-circle red-label">
                <small>от</small><br>
                <big>3.50</big><br>
                <small>руб.</small>
            </div>
        </td>
        <td colspan="2">
            <h3><span>Визитки <small>+доставка по городу</small></span></h3>
            <p>Цена включает: разработку макета визитки, полноцветную печать и доставку по городу</p>
            <div id="service2" class="service-more collapse">
                <table class="table table-bordered table-striped">
                    <caption>Таблица цен</caption>
                    <thead>
                        <tr>
                            <th>Парам. 1</th>
                            <th>Парам. 2</th>
                            <th>Парам. 3</th>
                            <th>Парам. 4</th>
                        </tr>     
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                    </tbody>
                </table>
                <p class="psh-trigger">
                    <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                </p>
            </div>
        </td>
        <td class="last">
            <a href="/order#/service/1" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
            <a class="btn opener" data-toggle="collapse" href="#service2">Подробнее <span class="caret"></span></a>
        </td>
    </tr>
    <tr>
        <td class="first">
            <span class="icon-stack star">
                <i class="icon-star icon-stack-base"></i>
                <i class="icon-exclamation"></i>
            </span>
            <div class="pull-right img-circle red-label">
                <small>от</small><br>
                <big>500</big><br>
                <small>руб.</small>
            </div>
        </td>
        <td colspan="2">
            <h3><span>Разработка web-сайтов</span></h3>
            <p>Цена включает: верстку макета, техподдержку, размещение на нашем сервере в течение 365 дней</p>
            <div id="service3" class="service-more collapse">
                <table class="table table-bordered table-striped">
                    <caption>Таблица цен</caption>
                    <thead>
                        <tr>
                            <th>Парам. 1</th>
                            <th>Парам. 2</th>
                            <th>Парам. 3</th>
                            <th>Парам. 4</th>
                        </tr>     
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                        <tr>
                            <td>1 р.</td>
                            <td>2 р.</td>
                            <td>3 р.</td>
                            <td>4 р.</td>
                        </tr>
                    </tbody>
                </table>
                <p class="psh-trigger">
                    <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                </p>
            </div>
        </td>
        <td class="last">
            <a href="/order#/service/2" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a> 
            <a class="btn opener" data-toggle="collapse" href="#service3">Подробнее <span class="caret"></span></a>
        </td>
    </tr>
</table>
<!-- Конец услуг -->
<!-- Доп. услуги -->
<div id="other-services" class="accordion other-services">
    <div id="ot-anchor" class="accordion-heading more-services alert alert-error">
        <a href="#services2" data-toggle="collapse" class="accordion-toggle collapsed">Полный список услуг &nbsp;<i class="icon-caret-down"></i></a>
    </div>
    <div id="services2" class="collapse">
        <table class="table table-hover services">
            <tr>
                <td class="first">
                    <span class="icon-stack star">
                        <i class="icon-star icon-stack-base"></i>
                        <i class="icon-exclamation"></i>
                    </span>
                    <div class="pull-right img-circle red-label">
                        <small>от</small><br>
                        <big>100</big><br>
                        <small>руб.</small>
                    </div>
                </td>
                <td colspan="2">
                    <h3><span>Супер-услуга</span></h3>
                    <p>Цена включает: вообще все!</p>
                    <div id="service4" class="service-more collapse">
                        <table class="table table-bordered table-striped">
                            <caption>Таблица цен</caption>
                            <thead>
                                <tr>
                                    <th>Парам. 1</th>
                                    <th>Парам. 2</th>
                                    <th>Парам. 3</th>
                                    <th>Парам. 4</th>
                                </tr>     
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="psh-trigger">
                            <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                        </p>
                    </div>
                </td>
                <td class="last">
                    <a href="/order#/service/3" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
                    <a class="btn opener" data-toggle="collapse" href="#service4">Подробнее <span class="caret"></span></a>
                </td>
            </tr>
            <tr>
                <td class="first">
                    <span class="icon-stack star">
                        <i class="icon-star icon-stack-base"></i>
                        <i class="icon-exclamation"></i>
                    </span>
                    <div class="pull-right img-circle red-label">
                        <small>от</small><br>
                        <big>100</big><br>
                        <small>руб.</small>
                    </div>
                </td>
                <td colspan="2">
                    <h3><span>Супер-услуга</span></h3>
                    <p>Цена включает: вообще все!</p>
                    <div id="service5" class="service-more collapse">
                        <table class="table table-bordered table-striped">
                            <caption>Таблица цен</caption>
                            <thead>
                                <tr>
                                    <th>Парам. 1</th>
                                    <th>Парам. 2</th>
                                    <th>Парам. 3</th>
                                    <th>Парам. 4</th>
                                </tr>     
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="psh-trigger">
                            <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                        </p>
                    </div>
                </td>
                <td class="last">
                    <a href="/order#/service/4" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
                    <a class="btn opener" data-toggle="collapse" href="#service5">Подробнее <span class="caret"></span></a>
                </td>
            </tr>
            <tr>
                <td class="first">
                    <span class="icon-stack star">
                        <i class="icon-star icon-stack-base"></i>
                        <i class="icon-exclamation"></i>
                    </span>
                    <div class="pull-right img-circle red-label">
                        <small>от</small><br>
                        <big>100</big><br>
                        <small>руб.</small>
                    </div>
                </td>
                <td colspan="2">
                    <h3><span>Супер-услуга</span></h3>
                    <p>Цена включает: вообще все!</p>
                    <div id="service6" class="service-more collapse">
                        <table class="table table-bordered table-striped">
                            <caption>Таблица цен</caption>
                            <thead>
                                <tr>
                                    <th>Парам. 1</th>
                                    <th>Парам. 2</th>
                                    <th>Парам. 3</th>
                                    <th>Парам. 4</th>
                                </tr>     
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="psh-trigger">
                            <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                        </p>
                    </div>
                </td>
                <td class="last">
                    <a href="/order#/service/5" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
                    <a class="btn opener" data-toggle="collapse" href="#service6">Подробнее <span class="caret"></span></a>
                </td>
            </tr>
            <tr>
                <td class="first">
                    <span class="icon-stack star">
                        <i class="icon-star icon-stack-base"></i>
                        <i class="icon-exclamation"></i>
                    </span>
                    <div class="pull-right img-circle red-label">
                        <small>от</small><br>
                        <big>100</big><br>
                        <small>руб.</small>
                    </div>
                </td>
                <td colspan="2">
                    <h3><span>Супер-услуга</span></h3>
                    <p>Цена включает: вообще все!</p>
                    <div id="service7" class="service-more collapse">
                        <table class="table table-bordered table-striped">
                            <caption>Таблица цен</caption>
                            <thead>
                                <tr>
                                    <th>Парам. 1</th>
                                    <th>Парам. 2</th>
                                    <th>Парам. 3</th>
                                    <th>Парам. 4</th>
                                </tr>     
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                                <tr>
                                    <td>1 р.</td>
                                    <td>2 р.</td>
                                    <td>3 р.</td>
                                    <td>4 р.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="psh-trigger">
                            <a class="psh-anchor" href="#payment-and-shipment" data-toggle="modal"><i class="icon-question-sign"></i> Оплата и доставка</a>
                        </p>
                    </div>
                </td>
                <td class="last">
                    <a href="/order#/service/6" class="btn btn-large btn-success order-btn"><i class="icon-circle-arrow-right"></i>  Заказать</a>
                    <a class="btn opener" data-toggle="collapse" href="#service7">Подробнее <span class="caret"></span></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- Конец доп. услуг -->
<!-- Описание процесса -->
<div class="proc-wrap">
    <h2 class="overline"><span>&nbsp;Удобное рекламное агентство&nbsp;</span></h2>
    <div class="process row-fluid">
        <div class="process-step well span4">
            <h1>1</h1>
            <h4><i class="icon-edit"></i>&nbsp; Оформление заказа</h4>
            <p>на сайте или по телефону</p>
        </div>
        <div class="process-step well span4">
            <h1>2</h1>
            <h4><i class="icon-money"></i>&nbsp; Оплата —</h4>
            <ul>
                <li>по SMS</li>
                <li>банковской картой или любым удобным Вам способом</li>
            </ul>
        </div>
        <div class="process-step well span4">
            <h1>3</h1>
            <h4><i class="icon-ok"></i>&nbsp; Получение заказа</h4>
            <ul>
                <li>Бесплатная доставка в удобное для Вас время</li>
                <li>Фотографический отчет о проделанной работе</li>
            </ul>
        </div>
    </div>
</div>
<!-- Конец описания процесса-->
<!-- О нас  -->
<div id="about" class="row-fluid">
    <div id="map" class="map img-polaroid span7"></div>
    <div class="about span5">
        <h1>О компании</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, fugiat sapiente placeat deleniti suscipit dolores ad molestias pariatur blanditiis expedita!</p>
        <a href="#about-more" class="about-more-toggle collapsed" data-toggle="collapse">подробнее...</a>
        <div id="about-more" class="collapse">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, molestiae, quisquam, molestias, harum deserunt corrupti sit aliquid error modi facere nam atque tempora illum. Veritatis, porro unde fugit id necessitatibus explicabo at ipsa tempora dolorem iste nam vero atque. Nihil.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, nesciunt, consectetur consequuntur a aliquam voluptate corrupti labore hic soluta maiores provident vel pariatur culpa perspiciatis minima velit similique nihil necessitatibus.
            </p>
        </div>
    </div>
</div>
<!-- Конец О нас -->
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=-xLa9nlJ7gRIaqRMRAxSe86145YQWIex&id=map"></script>
